div {
    display: flex;
    padding: 10px 25px;
}

#sidebar {
    flex-direction: column;
    width: 40vw;
    height: 100vh;
    top: 0;
    right: 0;
    position: fixed;
    background-color: #42607b;
    border: 1px;
    z-index: 10;
}

#sidebar > div {
    justify-content: space-between;
}

.arrow {
    width: 8px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    transform: rotate(45deg);
}